<!DOCTYPE html>
<html lang="en">

<head>
    <title>Rent Calculator</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css"/>
    <link type="text/css" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/general.css">
    <style>
        .hide {
            display: none;
        }
    </style>
    <script
            src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
    <script>
        function updateDate(increment) {
            $.ajax({
                type: "POST",
                url: "/updateDate/",
                dataType: "json",
                data: {
                    increment: increment
                },
                success: function (data) {
                    location.reload();
                }
            });

        };

        $(function () {
            var icons = {
                header: "ui-icon-circle-arrow-e",
                activeHeader: "ui-icon-circle-arrow-s"
            };
            $("#accordion").accordion({
                icons: icons
            });
            $("#toggle").button().on("click", function () {
                if ($("#accordion").accordion("option", "icons")) {
                    $("#accordion").accordion("option", "icons", null);
                } else {
                    $("#accordion").accordion("option", "icons", icons);
                }
            });
        });
    </script>

    <script>

        $(function () {

            $("#table_total").jsGrid({
                width: "90%",
                height: "auto",

                inserting: false,
                editing: false,
                sorting: true,
                paging: true,
                pageSize: 20,
                autoload: true,

                deleteConfirm: "Do you really want to delete this expense entry?",

                noDataContent: "No data for this month. ",
                fields: [
                    {
                        name: "id",
                        type: "text",
                        width: 50,
                        visible: false
                    },
                    {
                        name: "date",
                        type: "date",
                        width: 150,
                        title: "Date"
                    },
                    {
                        name: "user",
                        title: "User",
                        type: "text",
                        itemTemplate: function(value) {
                            return value.firstName + ' ' + value.lastName;
                        }
                    },
                    {
                        name: "category",
                        title: "Category",
                        type: "text",
                        width: 200,
                        validate: "required"

                    },
                    {
                        name: "description",
                        title: "Description",
                        type: "text"
                    },
                    {
                        name: "amount",
                        title: "Amount",
                        type: "number",
                        sorting: false,
                        itemTemplate: function (value) {
                            return "$" + value;
                        }
                    }
                ],

                controller: {
                    loadData: function (filter) {
                        return $.ajax({
                            type: "GET",
                            url: "/currentMonthEntry/",
                            dataType: "json"
                        });
                    }
                }
            });
        });
    </script>

    <script>
            $(function () {
                $("#totalExpensesPerUser").jsGrid({
                    width: "400px",

                    inserting: false,
                    editing: false,
                    sorting: true,
                    paging: false,
                    autoload: true,

                    noDataContent: "No data for this month. ",
                    fields: $listFields,

                    controller: {
                        loadData: function (filter) {
                            return $.ajax({
                                type: "GET",
                                url: "/getExpensesPerUser/",
                                dataType: "json"
                            });
                        }
                    },
                });
            });
        </script>

    <script>
                $(function () {
                    $("#summaryPerUser").jsGrid({
                        width: "400px",

                        inserting: false,
                        editing: false,
                        sorting: true,
                        paging: false,
                        autoload: true,

                        noDataContent: "No data for this month. ",
                        fields: $listFieldsSummary,

                        controller: {
                            loadData: function (filter) {
                                return $.ajax({
                                    type: "GET",
                                    url: "/getSummaryPerUser/",
                                    dataType: "json"
                                });
                            }
                        },
                    });
                });
            </script>
</head>

<body>
    #parse("templates/menu.vm")
<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="accordion">

        <h3>Summary for <strong>$currentMonth</strong></h3>
        <div id="summaryPerUser"></div>

        <h3>Expenses report</h3>
        <div id="totalExpensesPerUser"></div>

        <h3>Expense Details for <strong>$currentMonth</strong></h3>
        <div id="table_total"></div>
    </div>

    <div>
        <br/>
        <button onclick="updateDate(-1)">&lt;&lt;&lt; Previous Month</button>
        <button onclick="updateDate(1)">Next Month &gt;&gt;&gt;</button>
    </div>
    #parse("templates/footer.vm")
</body>
</html>