<!DOCTYPE html>
<html lang="en">

<head>
    <title>Rent Calculator</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <script type="text/javascript" src="js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/velocity.js"></script>
    <script type="text/javascript">
        function validateForm() {
    var x = document.forms["newEntry"]["date"].value;
    if (x == "") {
        alert("Date must be filled out");
        return false;
    }

    var x = document.forms["newEntry"]["amount"].value;
    if (x == "") {
        alert("Amount must be filled out");
        return false;
    }

    var x = document.forms["newEntry"]["category"].value;
    if (x == "") {
        alert("Category must be filled out");
        return false;
    }
    
    var x = document.forms["newEntry"]["description"].value;
    if (x == "") {
        alert("Description must be filled out");
        return false;
    }
}
    </script>
</head>

<body>
<form action="newEntry" method="post" name="newEntry" onsubmit="return validateForm()">
    Entry date:
    <input type="date" name="date"/><br/>
    Category
    <input type="text" name="category"/><br/>
    Description
    <input type="text" name="description"/><br/>
    User<br/>
    <input type="radio" name="user" value="Nicolas" checked="" /> Nicolas<br/>
    <input type="radio" name="user" value="Mariel"/> Mariel<br/>
    Amount
    <input type="number" min="0.01" step="0.01" max="2500" name="amount"/><br/>
    <input type="submit" name="submit" value="Submit and New"/>
    <input type="submit" name="submit" value="Submit and Summary"/>
</form>

#if ($list.size() > 0)
<div>
Entered for this month so far:
    <table>
        <tr>
            <th>Date</th>
            <th>User</th>
            <th>Category</th>
            <th>Description</th>
            <th>Amount</th>
        </tr>
        #foreach( $entry in $list )
        <tr>
            <td>$entry.date</td>
            <td>$entry.user</td>
            <td>$entry.category</td>
            <td>$entry.description</td>
            <td>$entry.amount</td>
        </tr>
        #end
    </table>
</div>
#end

#parse("templates/footer.vm")
</body>
</html>